$primary-dark-color: #1565C0;
$light-primary-color: #E3F2FD;
$primary-color: #1976D2;
$white-text-icons: #FFFFFF;
$accent-color: #1976D2;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #E0E0E0;
$first-gradient: #FAFAFA;
$second-gradient: #FFFFFF;
$hero-blue: #1565C0;
$btn-blue: #1976D2;
