$primary-dark-color: #455A64;
$light-primary-color: #CFD8DC;
$primary-color: #607D8B;
$white-text-icons: #FFFFFF;
$accent-color: #FF5252;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;
$first-gradient: #FAFAFA;
$second-gradient: #E1EAEE;
