<div class="p-container">
  <div class="home-loader" *ngIf="!loader">
    <mat-spinner></mat-spinner>
  </div>
  <nav class="p-navbar-default">
    <div (click)="mostrar()" class="p-navbar-menu">
      <mat-icon svgIcon="ic-menu"></mat-icon>
    </div>
    <p class="p-navbar-logo nav-logo">
      {{ "NAVBAR.nav-logo" | translate | uppercase }}
    </p>
    <ul
      class="p-navbar-sections"
      [ngClass]="{ 'p-navbar-sections-show': show }"
    >
      <li class="p-navbar-section-close"><span (click)="ocultar()">X</span></li>
      <li *ngFor="let navItem of navItems" class="p-navbar-section nav-item">
        {{ navItem | translate }}
      </li>
    </ul>
  </nav>
  <section class="p-home-section">
    <div class="p-home-section-skills">
      <p class="home-skills-section">{{ "HOME.section-skills" | translate }}</p>
      <div class="p-home-skills-animation"><app-skills></app-skills></div>
      <button class="p-home-section-skils-cv-button">
        {{ "HOME.cv-button" | translate }}
      </button>
    </div>
  </section>
  <app-about-me></app-about-me>
  <section class="p-services-section">
    <app-my-services></app-my-services>
  </section>
  <section class="p-clients-section">
    <app-clients></app-clients>
  </section>
  <section class="p-works-section">
    <app-works></app-works>
  </section>
  <section class="p-contact-section">
    <app-contact></app-contact>
  </section>
</div>
