@import "/src/assets/scss/colors";
.p-container {
  .p-navbar-default {
    background: rgb(6, 25, 29);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    width: 100%;
    .p-navbar-logo {
      margin: 10px;
    }
    .p-navbar-section-close {
      display: none;
    }
    .p-navbar-sections {
      float: right;
      margin-right: 50px;
      .p-navbar-section {
        display: inline-block;
        margin: 30px 15px;
        transition: 0.4s;
      }
    }
    .p-navbar-menu {
      display: none;
    }
  }
  .p-home-section {
    content: " ";
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    height: 70vh;
    z-index: 1;
    background: url("/assets/images/background.png") center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    .p-home-section-skills {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .p-home-skills-animation{
        height: 50px;
      }
      .p-home-section-skils-cv-button {
        color: #fffafa;
        background-color: #536878;
        font-size: 19px;
        border: 1px solid #6e7f80;
        border-radius: 16px;
        padding: 15px 50px;
        cursor: pointer;
      }
      .p-home-section-skils-cv-button:hover {
        color: #22252a;
        background-color: #708090;
      }
    }
  }
  .p-services-section {
    padding: 25px;
  }
  .p-clients-section{
    background: $white-text-icons;
  }
  .p-home-social-networks-container{
    .p-home-title{
      color: $white-text-icons;
      font-size: 22px;
      font-weight: 600;
      font-family: cursive;
      text-align: center;
    }
  }
}
@media (max-width: 700px) {
  .p-container {
    .p-navbar-default {
      padding: 15px;
      .p-navbar-logo {
        margin: 0 15px;
      }
      .p-navbar-sections {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #410541;
        right: 100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
        margin: 0;
        .p-navbar-section-close {
          display: block;
          span {
            color: $white-text-icons;
            font-weight: 600;
          }
        }
        .p-navbar-section {
          display: block;
        }
      }
      .p-navbar-sections-show {
        right: 0;
      }
      .p-navbar-menu {
        display: block;
      }
    }
  }
}
