<div class="w-container">
  <p class="title">{{ "NAVBAR.nav-works" | translate }}</p>
  <div class="home-section-divider"></div>
  <div class="w-container-works">
    <div class="w-card-work">

      <div *ngFor="let work of works" class="w-card-item">
        <img
          class="w-card-image"
          src="{{work.capture}}"
          alt=""
        />
        <div class="w-card-details">
          <h1 class="w-card-title">{{work.name}}</h1>
          <div class="w-card-content">
            <p class="w-card-content-text">
              {{work.description}}
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
