<div class="w-container">
  <p class="title">{{ "NAVBAR.nav-works" | translate }}</p>
  <div class="home-section-divider"></div>
  <div class="w-container-works">
    <div class="w-card-work">

      <div *ngFor="let work of works" class="w-card-item">
        <img
          class="w-card-image"
          src="https://lh3.googleusercontent.com/-h9Vw01ffbKY/YGnJU35eHBI/AAAAAAAACAE/FbXDvjOc5ZojyWTbxkR6zDqG3dTdCNimgCLcBGAsYHQ/1.jpg"
          alt=""
        />
        <div class="w-card-details">
          <h1 class="w-card-title">Card 1</h1>
          <div class="w-card-content">
            <p class="w-card-content-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima,
              iure nisi. Eos deserunt dolores dolor rem ratione veritatis,
              perferendis, molestiae libero consectetur quas harum perspiciatis
              eaque porro natus iure omnis!
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
